<section class="py-8">
  <div class="flex gap-4">
    <mat-form-field class="w-full">
      <mat-label>Search</mat-label>
      <input [(ngModel)]="username" matInput placeholder="John">
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>All</mat-label>
      <mat-select [formControl]="workout" (ngModelChange)="onChange()" multiple>
        @for (workout of staticWorkouts; track workout) {
        <mat-option [value]="workout">{{workout}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <table mat-table
    [dataSource]="modifyUserData().slice(this.currentPage * this.pageSize, this.currentPage * this.pageSize + this.pageSize)"
    class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="workouts">
      <th mat-header-cell *matHeaderCellDef> Workouts </th>
      <td mat-cell *matCellDef="let element">{{getAllWorkouts(element)}} </td>

    </ng-container>

    <ng-container matColumnDef="number_of_workouts">
      <th mat-header-cell *matHeaderCellDef> Number of Workouts </th>
      <td mat-cell *matCellDef="let element"> {{element.workouts.length}} </td>
    </ng-container>

    <ng-container matColumnDef="total_workout_minutes">
      <th mat-header-cell *matHeaderCellDef> Total Workout Minutes </th>
      <td mat-cell *matCellDef="let element"> {{getTotalWorkoutMinutes(element)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<mat-paginator [length]="modifyUserData().length" [pageSize]="pageSize" (page)="handlePageEvent($event)"
  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>